<p>
  actividad works!
</p>
<div class="row">
  <div class="col">
    <button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalBook"
      (click)="resetForm()">Agregar Actividad</button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Código</th>
          <th scope="col">fecha</th>
          <th scope="col">descripcion</th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarea of tareas; index as i">
          <td scope="row">{{i+1}}</td>
          <td>{{tarea.id}}</td>
          <td>{{tarea.tareasFecha}}</td>
          <td>{{tarea.tareasDescripcion}}</td>
          <td>
            <button class="btn btn-primary">Actualizar</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="onDeleteTarea(tarea.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>