<!-- Content      
    "cigarrosDiarios": 15,
    "marcaCigarrillo": "Mustang",
    "valorCigarrillo": "2300",
    "tiempoConsumo": 2
-->
<section>
    <div class="container">
        <h1>Información de consumo</h1>
        <hr>
        <form [formGroup]="myForm" novalidate autocomplete="off" role="form" id="Formulario">            
                
            <div class="form-group">
                <label class="control-label" for="cigarrosDiarios">Ingrese la cantidad de cigarros consumidos a
                    Diario</label>
                <input type="text" class="form-control"  formControlName="cigarrosDiarios" id="cigarrosDiarios" name="cigarrosDiarios"
                    placeholder="Introduzca cantidad" required autofocus />
                <div *ngIf="myForm.get('cigarrosDiarios').hasError('required') && myForm.get('cigarrosDiarios').touched" style="font-size: 14px; text-align: center; color:red;">No se ha ingresado una cantidad</div>
                    
            </div>

            <div class="form-group">
                <label class="control-label" for="marcaCigarrillo">Marca de cigarrillo usado</label>
                <select name="marcaCigarrillo" formControlName="marcaCigarrillo" class="form-control">
                    <option value="Mustang">Mustang</option>
                    <option value="Green">Green</option>
                    <option value="Malboro">Malboro</option>
                    <option value="Lucky">Lucky</option>
                </select>
                <div class="error" *ngIf="myForm.get('marcaCigarrillo').hasError('required') && myForm.get('marcaCigarrillo').touched" style="font-size: 14px; text-align: center;  color:red;">
                    No se ha
                    ingresado una marca de cigarrillo</div>
            </div>

            <div class="form-group">
                         
                <label class="control-label" for="valorCigarrillo">Valor del cigarrillo </label>
                <input type="text" formControlName="valorCigarrillo" class="form-control" id="valorCigarrillo" name="valorCigarrillo"
                    placeholder="Introduzca el valor del cigarrillo" required />
                <div class="error" *ngIf="myForm.get('valorCigarrillo').hasError('required') && myForm.get('valorCigarrillo').touched" style="font-size: 14px; text-align: center;  color:red;">No se ha ingresado una cantidad</div>
                         
            </div>

            <div class="form-group">
                
                <label class="control-label" for="tiempoConsumo">Tiempo de consumo en meses </label>
                <input type="text" formControlName="tiempoConsumo" class="form-control" id="tiempoConsumo" name="tiempoConsumo"
                    placeholder="Tiempo de consumo en años" required />
                <div class="error" *ngIf="myForm.get('tiempoConsumo').hasError('required') && myForm.get('tiempoConsumo').touched" style="font-size: 14px; text-align: center;  color:red;">No se ha ingresado una cantidad</div>
                
            </div>

            <div class="form-group">
                <input type="submit" [disabled]="myForm.invalid" class="btn btn-primary" value="Enviar" (click)="onSaveInfo()" style="font-size: 14px; text-align: center;  ">
                <input type="reset" class="btn btn-default" value="Limpiar">
            </div>
            
        </form>
    </div>
</section>