
<!-- Content -->
<section>
    <div class="container">
            <form role="form" id="Formulario" action="../php/contacto2.php" method="POST">
                <div class="form-group">
                    <label class="control-label" for="Nombre">Nombres</label>
                    <input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Introduzca su nombre" required autofocus />
                </div>            
                <div class="form-group">
                    <label class="control-label" for="Motivo">Marca de cigarrillo usado</label>
                    <select name="Motivo" class="form-control">
                        <option value="Consulta General">Mustang Rojo</option>
                        <option value="Realizar Pedido">Green</option>
                        <option value="Informe un problema">Malboro</option>                        
                        <option value="Informe un problema">Lucky</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Empresa">Valor del cigarrillo </label>
                    <input type="text" class="form-control" id="Empresa" name="Empresa" placeholder="Introduzca el valor del cigarrillo" required />
                </div>
                <div class="form-group">
                    <label class="control-label" for="Correo">Dirección de Correo Electrónico</label>
                    <input type="email" class="form-control" id="Correo" name="Correo" placeholder="Introduzca su correo electrónico" required />
                </div>                
                <div class="form-group">                
                    <input type="submit" class="btn btn-primary" value="Enviar">
                    <input type="reset" class="btn btn-default" value="Limpiar">                
                </div>
                <div id="respuesta" style="display: none;"></div>
            </form>
        </div>     
</section>
