<div class="container">
  <div *ngIf="mostrarDatos">
    <h3>Información</h3>
    <div class="row mt-5">
      <div class="col">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Código</th>
              <th scope="col">Valor Unitario</th>
              <th scope="col">Marca del Cigarrillo</th>
              <th scope="col">Consumo diario actual </th>
              <th scope="col">Tiempo de Consumo en Meses</th>
              <th scope="col">Fecha Inicio </th>
              <th scope="col">&nbsp;</th>
              <th scope="col">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let info of infoCigarrillo; index as i">
              <td scope="row">{{i+1}}</td>
              <td>{{info.id}}</td>
              <td>{{info.valorCigarrillo}}</td>
              <td>{{info.marcaCigarrillo}}</td>
              <td>{{info.cigarrosDiarios}}</td>
              <td>{{info.tiempoConsumo}}</td>
              <td>{{info.fechaInicio}}</td>
              <td>
                <!--Modal para actualizar tarea -->

                <!--Modal para actualizar tarea -->
                <ng-template #content let-c="close" let-d="dismiss">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modalActualizar">Actualizar Información de consumo </h5>
                        <button type="button" class="close" (click)="d('Cross click')" data-dismiss="modal"
                          aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form [formGroup]="formUpdate" novalidate autocomplete="off">
                          <div class="container">
                            <label for="Código"><b>Código </b></label>
                            <h4> {{info.id}}</h4>
                            <hr>

                            <label for="cigarrosDiarios"><b>Cantidad de cigarros consumidos a Diario</b></label>
                            <input type="text" class="form-control" value="{{info.cigarrosDiarios}}"
                              formControlName="cigarrosDiarios" id="cigarrosDiarios" name="cigarrosDiarios"
                              placeholder="Introduzca cantidad" required autofocus />
                            <div
                              *ngIf="formUpdate.get('cigarrosDiarios').hasError('required') && formUpdate.get('cigarrosDiarios').touched"
                              style="font-size: 14px; text-align: center; color:red;">No se ha ingresado una cantidad
                            </div>
                            <br>

                            <label for="marcaCigarrillo"><b>Marca de cigarrillo usado</b></label>
                            <select name="marcaCigarrillo" class="form-control" formControlName="marcaCigarrillo">
                              <option value="Mustang">Mustang</option>
                              <option value="Green">Green</option>
                              <option value="Malboro">Malboro</option>
                              <option value="Lucky">Lucky</option>
                            </select>
                            <div class="error"
                              *ngIf="formUpdate.get('marcaCigarrillo').hasError('required') && formUpdate.get('marcaCigarrillo').touched"
                              style="font-size: 14px; text-align: center;  color:red;">
                              No se ha
                              ingresado una marca de cigarrillo</div>
                            <br>

                            <label for="valorCigarrillo"><b>Valor del cigarrillo </b></label>
                            <input type="text" class="form-control" value="{{info.valorCigarrillo}}"
                              formControlName="valorCigarrillo" id="valorCigarrillo" name="valorCigarrillo"
                              placeholder="Introduzca el valor del cigarrillo" required />
                            <div class="error"
                              *ngIf="formUpdate.get('valorCigarrillo').hasError('required') && formUpdate.get('valorCigarrillo').touched"
                              style="font-size: 14px; text-align: center;  color:red;">No se ha ingresado una cantidad
                            </div>
                            <br>

                            <label for="tiempoConsumo">Tiempo de consumo en meses </label>
                            <input type="text" class="form-control" value="{{info.tiempoConsumo}} "
                              formControlName="tiempoConsumo" id="tiempoConsumo" name="tiempoConsumo"
                              placeholder="Tiempo de consumo en años" required />
                            <div class="error"
                              *ngIf="formUpdate.get('tiempoConsumo').hasError('required') && formUpdate.get('tiempoConsumo').touched"
                              style="font-size: 14px; text-align: center;  color:red;">No se ha ingresado una cantidad
                            </div>
                            <br>

                            <button type="submit" [disabled]="formUpdate.invalid" class="btn btn-success"
                              (click)="updateInfo(info.id)">Actualizar</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <button class="btn btn-primary float-right mb-3" (click)="open(content)">Actualizar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div>
      <div>
        <div style="display: block">
          <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <button type="button" name="button-fechaActual" class="btn btn-primary btn-block"
        (click)="calDias()">
      Actualizar 
    </button>
  </div>
</div>